.detail-goals-tabs {
  &__box-bottom {
    margin-top: 32px;
    .info-tab {
      &__item {
        padding-left: 56px;
        padding-bottom: 52px;
        position: relative;
        &:last-child {
          padding-bottom: 0;
          &::before {
            display: none;
          }
        }
        &::before {
          position: absolute;
          left: 12px;
          content: '';
          width: 4px;
          height: 100%;
          transform: translate(50%, 16px);
          background-color: var(--set2-g100, #F6F8FA);
        }
        .decor {
          position: absolute;
          left: 0;
          top: 0;
          width: 32px;
          height: 32px;
          flex-shrink: 0;
          border-radius: 100%;
          background-color: var(--set2-g100, #F6F8FA);
          &::before {
            border-radius: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            content: '';
            display: inline-block;
            width: 12px;
            height: 12px;
            flex-shrink: 0;
            background-color: #4A9B61;
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .detail-goals-tabs {
    &__box-bottom {
      margin-top: 20px;
      .info-tab {
        &__item {
          padding-left: 46px;
          padding-bottom: 48px;
        }
      }
    }
  }
}

@media (max-width: 991px) {
  .detail-goals-tabs {
    &__box-bottom {
      margin-top: 17px;
      .info-tab {
        &__item {
          padding-bottom: 40px;
        }
      }
    }
  }
}