/* Стили для форм */
input, textarea, select, button {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 1em;
  width: 100%;
}

input[type="checkbox"], input[type="radio"] {
  width: auto;
  margin-right: 10px;
}

textarea {
  resize: vertical;
}

label {
  font-weight: bold;
  margin-bottom: 0.5em;
  display: block;
}

/* Кнопки */
button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
  padding: 10px 15px;
  font-size: 16px;
  border-radius: 4px;
}

button:hover {
  background-color: #0056b3;
}

