:root{
  --black: #151516;
  --black2: #3C4531;
  --gray: #81858B;
  --white: white;
  --g300: #DBE0E4;
  --g200: #EDF0F2;
  --g100: #F6F8FA;
  --green: #4A9B61;
  --green2: #3e8f55;
  --tertiary: #B3B3B3;
}